.header {
	font-size: 26px;
	line-height: 1.5;
	margin: 50px auto;
}

.header span {
	display: block;

}

.section {
	padding-bottom: 30px;
	padding-top: 30px;
}
/*.container, .col-lg-6 {
	border: 2px solid red;
}

*/

.form-header {
	font-size: 23px;
	font-weight: 750;
	margin-bottom: 20px;
}

.form {
	border: 5px solid #2727d9;
	padding: 30px 20px ;
}

.form-btn {
	margin-top: 10px ;
	background-color: #2727d9;
}

.form input {
	margin-bottom: 13px;
}

.section-header {
	font-size: 30px;
	font-weight: 700;
}

.feature {
	margin: 60px auto;
}

.feature p {
	margin-top: 20px;
}

.video {
	margin-bottom: 60px;
}

.feature-box {
	height: 160px;
}

.col-md-8 {
	background-color: grey;
}
